SECRET_KEY=aaaaa
DATABASE_URL=data-dev.sqlite
FLASK_CONFIG=development

MAIL_SERVER=
MAIL_PORT=
MAIL_USE_TLS=
MAIL_USE_SSL=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

GOOGLE_ANALYTICS_ID=
SEGMENT_API_KEY=

REDISTOGO_URL=
RAYGUN_APIKEY=

DEV_DATABASE_URL=
TEST_DATABASE_URL=